# Node
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env
.env
backend/.env

# Venv
.venv/

# IDE
.idea/
.vscode/

# Alembic
backend/alembic/versions/*.pyc
